
<!--Es lo mismo
<input type="button" (click)='mostrarOcultarGrilla()' value={{mensajeBoton}}/>-->
<input type="button" (click)='mostrarOcultarGrilla()' [value] ='mensajeBoton'/>

<table class="table table-striped" *ngIf='verGrilla'>
    <thead class="thead-inverse">
        <tr>
            <th>ID del artículo</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let art of listaArticulos">
            <td>{{art.IdArticuloFamilia}}</td>
            <td>{{art.Nombre}}</td>
        </tr>
    </tbody>
</table>


<!-- 
ngfor podes usar algo que este en el cnntrolador, en este caso listaArticulos
y por cada objet de la lista recupero su valor
-->